#game 
{
    background-color: #f1f1f1;
    margin: auto;
}

#character 
{
    width: 20px;
    height: 40px;
    background-color: red;
    position: relative;
}

#block 
{
    width: 50px;
    height: 50px;
    background-color: blue;
}

#container 
{
    background-color: #f1f1f1;
    width: 90vw;
    height: 90vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.cell 
{
    color: grey;
    font-size: 3rem;
    text-aling: center;
    padding: 4rem;
} 
/* cell colors and other stuff for cells are on "cells.css" file */
#sectionLeft 
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60%;
    bottom: 0px;
}
#sectionRight 
{
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#backgroundCanvas, #backgroundLeftCanvas
{
    postition: absolute;
    left: 0px;
    top: 0px;
}
