#game {
    background-color: #f1f1f1;
    margin: auto;
}

#character {
    width: 20px;
    height: 40px;
    background-color: red;
    position: relative;
}

#block {
    width: 50px;
    height: 50px;
    background-color: blue;
}

#container {
    background-color: #f1f1f1;
    width: 90vw;
    height: 90vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.cell {
    color: grey;
    font-size: 3rem;
    text-aling: center;
    padding: 4rem;
}
.cell-1 {
    background: blue;
}
.cell-2 {
    background: green;
}
.cell-3 {
    background: red;
}
.cell-4 {
    background: orange;
}
.cell-5 {
    background: aqua;
}
.cell-6 {
    background: violet;
}
.cell-7 {
    background: beige;
}
.cell-8 {
    background: pink;
}
.cell-9 {
    background: yellow;
}
